@import 'colors'
@import 'menu'
@import 'products'

*
    border: 0
    margin: 0
    font-family: Roboto, sans-serif

body
    background: $color-background
    color: $color-white

.container
    width: 100% 
    position: sticky
    margin: 2rem 0
.content  
    width: 60rem 
.center  
    display: flex 
    flex-direction: column 
    align-items: center

h1  
    color: $color-primary
    text-align: center 
    margin: 0 0 .5rem 0

p  
    color: $color-white
    text-align: justify
    
.forms 
    background: $color-aux
    border-radius: .5rem 
    padding: 2rem 
    margin: 2rem 5rem

.forms > form  
    display: flex 
    flex-direction: column

input, textarea  
    padding: .5rem .7rem 
    border: solid 4px $color-dark 
    margin: .3rem 0 
    resize: none 
    outline: none

#name  
    border-radius: 0 .5em 0 0
textarea  
    border-radius: 0 0 .5rem .5rem 
    border-color: $color-background

#button-contact  
    background: $color-dark 
    color: white 
    border: none 
    padding: 1rem 0 
    margin-top: .5rem 
    width: 12rem 
    cursor: pointer 
    font-weight: bold 

#button-contact:hover  
    filter: brightness(.8) 

.about #image
    display: flex
    flex-direction: row

#describe-about 
    margin-left: 2rem 
    & h1
        text-align: left

#social-midia
    background: $color-primary
    width: 100%
    padding: .7rem 0
    margin: .5rem 0
    
    display: flex
    flex-direction: row
    justify-content: space-around
    & svg:hover path
        fill: $color-background

footer
    background: $color-dark
    padding: 2rem 0

    display: flex
    flex-direction: row
    justify-content: space-around
    color: #919296
    & a
        text-decoration: none
        color: #919296
        &:hover
            text-decoration: underline
    & #copyright a, & #links a:hover
        color: $color-primary
    
    & #links > a
        margin: 0 .5rem